/*
    ------ SUMMARY -------

    1.0 Variables
    -- 1.1 Colors
    -- 1.2
 */

/* --- 1.0 Variables --- */
:root {
    /* -- 1.1 Colors -- */
    --orange-primary: rgb(248, 131, 44);
    --orange-secondary: rgba(255, 131, 31, 0.32);
    --purple-primary: rgb(66, 66, 209);
    --purple-secondary: rgba(31, 31, 151, 0.3);
    --green-primary: rgb(0, 179, 0);
    --green-secondary: rgba(36, 163, 36, 0.3);
    --pink-primary: rgb(181, 48, 48);
    --pink-secondary: rgba(147, 27, 27, 0.3);
    --clr-font: #e3e3e3;
    --clr-secondary-font: #888888

    /* -- 1.2 dd -- */
}

.custom-card {
    padding: 3% 8%  ;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
    color: var(--clr-secondary-font);
    cursor: default;
    backdrop-filter: blur(10px);
}
.custom-card:hover, .custom-card:nth-of-type(3):hover{
    border: 1px solid var(--orange-primary);
    transition: background 0.1s, transform 0.3s ease;
    transform: translateY(-5px);
}
.custom-card:nth-of-type(2):hover, .custom-card:nth-of-type(4):hover {
    transform: translateY(75px);
}

.head-card{
    margin-top: 1rem !important;
    color: var(--clr-font);
    font-weight: bold;
    font-size: x-large;
    display: flex;
    align-items: center;
}.head-card p{
    margin: 0 !important;
}

.square-icon{
    width: 32px;
    height: 32px;
    background-color: var(--orange-secondary);
    border: 1px solid var(--orange-primary);
    color: #ffffff;
    border-radius: 5px;
    margin-right: 4% ;
    padding: 1.5%;
}

.custom-card:nth-of-type(2) .square-icon {
    background-color: var(--purple-secondary);
    border: 1px solid var(--purple-primary);
}
.custom-card:nth-of-type(2):hover{
    border-color: var(--purple-primary);
}

.custom-card:nth-of-type(3) .square-icon {
    background-color: var(--green-secondary);
    border: 1px solid var(--green-primary);
}
.custom-card:nth-of-type(3):hover{
    border-color: var(--green-primary);
}
.custom-card:nth-of-type(4) .square-icon {
    background-color: var(--pink-secondary);
    border: 1px solid var(--pink-primary);
}
.custom-card:nth-of-type(4):hover{
    border-color: var(--pink-primary);
}

.astro-ninvmxqt {
    color: var(--orange-primary);
}

.sl-link-button.primary{
    background-color: var(--clr-font);
    color: var(--sl-color-black);
    font-weight: 600;
    border: none;
    box-shadow: 0 2px 30px var(--astro-code-token-link);
}
.sl-link-button.primary svg  {
    animation: arrow 2s infinite;
}
.sl-link-button.primary:hover svg  {
    animation: arrow2 1s infinite;
}
@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}
@keyframes arrow2 {
    0% {
    }
    50% {
        transform: translateX(5px);
    }
    100% {
    }
}

ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

ul li{
    padding: 3%;
    border-radius: 8px;
    color: var(--clr-secondary-font);
    width: 30%;
    backdrop-filter: blur(10px);
    cursor: pointer;
    margin: 10px 0;
    border: 1px solid rgb(78, 78, 78);
    transition: transform 0.3s;
}


ul li strong {
    color: var(--clr-font);
}

ul li .Icon-li {
    margin-bottom: 5%;
    color: var(--clr-font);
    font-size: 1.5rem;
    background:transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: inset 0 0 12px var(--orange-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-clip: padding-box;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}

ul li .Icon-li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 15px var(--orange-primary);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
ul li:hover .Icon-li {
    box-shadow: none;
}
ul li:hover .Icon-li::before {
    opacity: 1;
}

.header {
    backdrop-filter: blur(10px);
    background: none;
    border: none;
}

.content-panel {
    background-attachment: fixed;
}